@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,800);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);

html {

}

body {
    font-size: 100%;
}

.avatar{
  text-align: center;
}

.avatar img{
  height: 260px;
  border-radius: 150px;
}

@media (max-width:400px) {
  .avatar img{
    height: 150px;
    border-radius: 75px;
    margin: 30px;
  }
}

.title{
	font-size: 3.5em;
	width: 100%;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
  font-weight: 800;
	color: #242424;
  margin-bottom: 40px;
}

.subtitle{
    padding: 0px 40px 10px 40px;
    text-align: center;
    margin: auto;
    font-family: 'Crimson Text', serif;
    color: #535353;
    font-size: 1.4em;
    line-height: 1.5em;
}

.subtitle a{
    color: #4A90E2;
    text-decoration: none;
}
@media (min-width:992px) {
.vertical-align {
    display: flex;
    align-items: center;
}
}

.arrow{
  text-align: center;
  margin-top: 30px;
}

.lisn{
  background-color: #1e1e1e;
}

.wynk{
  background-color: #E43D3D;
}

.pipal{
  background-color: #32C245;
}

.hush{
  background-color: #69509E;
}

.deviceholder{
  padding: 30px;
}

.deviceholder-landscape{
  max-width: 65%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.app-description{
  color: white;
}

.center{
  text-align: center;
}

.app-description a{
  text-decoration-style: none;
  color: white;
  font-weight: 400;
}

.app-title{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 3em;
  margin: 30px;
}

.app-subtext{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
  line-height: 1.5em;
  margin:30px;
  font-weight: 300;
}

.download-app{
  margin: 30px;
}

.download-app img{
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
}

.download-app img:hover{
  background-color: rgba(54, 54, 54, 0.2);
}

.githubimg img{
  height: 65px;
}

@media (min-width: 1100px){
    .subtitle{
        max-width: 60%;
    }
}

@media (max-width: 400px) {
    .subtitle{
      font-size: 1.3em;
    }
    .deviceholder{
      max-width: 90%;
    }
    .deviceholder-landscape{
      max-width: 90%;
    }
    .title{
      font-size: 2.5em;
    }
    .app-title{
      font-size: 2.5em;
    }
    .app-subtext{
      font-size: 1.4em;
    }
    .arrow{
      margin-bottom: 30px;
    }
}

.footer{
    width: 100%;
    text-align: center;
}

.footer p{
    font-family: 'Crimson Text', serif;
    color: #535353;
    font-size: 2.5em;
}

.footer ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
    width: 100%;
}

.footer li{
    display: inline-block;
    padding: 10px;
    border: 1px solid #535353;
    border-radius: 4px;
    margin: 0 5px 10px 5px;
}

.footer li img{
    padding: 10px;
    width: 40px;
    height: 40px;
}

.footer li:hover{
    background: #EEE;
}

.footer p.email{
  font-size: 1.5em;
  margin-top: 130px;
}
